* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../public/gradienta--gmycsIe7FU-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    flex-wrap: wrap;
}

.row>[class*='col-'] {
    flex-grow: 1;
    flex-direction: column;
}

textarea:focus {
    outline: 2px solid #48286b;
}

#editor,
#preview {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-height: 90vh;
    border: none;
    border-radius: 6px;
    overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
    #editor,
    #preview {
        height: 50vh;
    }
}

#editor {
    min-height: 90vh;
}

@media only screen and (max-width: 768px) {
    #editor {
        min-height: 50vh;
    }
}


/* Scrollbar Styles */


/* width */

.scrollbar::-webkit-scrollbar {
    width: 10px;
}


/* Track */

.scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
}


/* Handle */

.scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


/* Handle on hover */

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}