* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../public/gradienta--gmycsIe7FU-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 1rem;
    height: 100vh;
}

.row {
    flex-wrap: wrap;
    height: 90vh;
}

.row>[class*='col-'] {
    flex-grow: 1;
    flex-direction: column;
}

#editor,
#preview {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: scroll;
}

#preview {
    border: none;
    border-radius: 6px;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
}